# Ignore files specific to operating systems
.DS_Store
Thumbs.db

# Ignore common IDE/editor files
.idea/
.vscode/

# Ignore Python specific files
__pycache__/
*.pyc
*.pyo
.Python

# Ignore Node.js specific files
node_modules/
dist/
build/

# Ignore logs and temporary files
*.log
tmp/
temp/

# Ignore environment files
.env

# Ignore potential secrets and credentials
*.pem
*.key
*.cert

# Ignore frontend specific files
.cache/

# Ignore backend specific files
instance/