<!DOCTYPE html>
<html>
<head>
    <title>Iris Flower Classification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<form method="POST">
    <h2>Iris Flower Classification</h2>
    <label for="sepal_length">Sepal Length (cm):</label>
    <input type="number" name="sepal_length" id="sepal_length" required>

    <label for="sepal_width">Sepal Width (cm):</label>
    <input type="number" name="sepal_width" id="sepal_width" required>

    <label for="petal_length">Petal Length (cm):</label>
    <input type="number" name="petal_length" id="petal_length" required>

    <label for="petal_width">Petal Width (cm):</label>
    <input type="number" name="petal_width" id="petal_width" required>

    <button type="submit">Predict</button>

    {% if prediction %}
    <h3>Predicted Class: {{ prediction }}</h3>
    {% endif %}
</form>
</body>
</html>